/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: rgb(77, 235, 77);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: rgb(77, 235, 77);;
    color: #333;
  }
  
  /* Main content */
 .main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
  }
  .mis-en-page-1 {
    background-color: #333;color:rgb(77, 235, 77);;text-align: justify;
  }
  .big{
    width: 250;
  }
  .mis-en-page-2 {
    background-color: #333;color:rgb(77, 235, 77);;text-align: center;
    }
    .MK1{
      background-color: azure;color:olive;width: 25%;border: 2px #333;border-collapse: collapse;
    }
